dist-mods/
fabric-mod/build/
fabric-mod/.gradle/
fabric-mod/run/
server/world/
server/rock/
server/mods/
server/libraries/
server/versions/
server/*.jar
server/logs/
server/*.log
server/cache/
server/.fabric/
server/crash-reports/
bots/node_modules/
bots/package-lock.json

banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
